:root {
  box-sizing: border-box;
  font-size: 16px;
  /* 0.8125rem == 13px */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #ECF2F8;
  /* base font */
  color: #6E8098;
  font-size: .8125rem;
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  line-height: 1.25rem;
  /* 20px */
  letter-spacing: 0.007625rem;
  /* 0.122px */
}

input,
select,
textarea,
button {
  font-family: inherit;
}

button {
  border: 0;
}

h1,
h2,
p {
  margin: 0;
}

main {
  max-width: 327px;
  margin: 0 auto;
  margin-top: 74px;
  display: flex;
}

.card {
  width: 100%;
  box-shadow: 0px 40px 40px -10px rgba(201, 213, 225, 0.50);
}

.card-hero {
  width: 100%;
  position: relative;
}

.card-hero img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  object-fit: cover;
  object-position: 0 -15px;
  border-radius: 10px 10px 0 0;
}

.card-board {
  background-color: #ffffff;
  margin-top: 200px;
  padding: 36px 32px 20px 32px;
  border-radius: 0 0 10px 10px;
  position: relative;
}

.card-heading {
  color: #48556A;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0.0125rem;
}

.card-desc {
  margin-top: 12px;
}

.card-info {
  margin-top: 32px;
  display: flex;
  align-items: center;
}

.card-info-avatar {
  width: 40px;
  height: 40px;
}

.card-info-avatar img {
  width: 100%;
  border-radius: 40px;
}

.card-info-name-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 16px;
}

.card-info-name {
  color: #48556A;
  font-weight: 700;
}

.card-info-date {
  color: #9DAEC2;
}

.card-share-button {
  position: absolute;
  /* bottom: 10px; */
  top: 256px; /* 312 - 24 - 32. this will change when clicked on mobile. */
  right: 32px;
  z-index: 20;
  width: 32px;
  height: 32px;
  background-color: #ECF2F8; /* this will change when clicked */
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clicked {
  background-color: #6E8098;
  top: 268px; /* 252 + 16 */
}

.card-share-button img {
  width: 15px;
}

.clicked > img {
  filter: brightness(0) invert(1);
}

.card-share-container {
  background: #48556A;
  opacity: 1;
  position: absolute;
  width: 100%;
  height: 64px;
  top: 252px;
  left: 0;
  z-index: 10;
  border-radius: 0 0 10px 10px;
  display: flex;
  align-items: center;
}

.card-share-box {
  display: flex;
  align-items: center;
  margin-left: 32px;
  /* border-radius: 0 0 10px 10px; */

}

.share-heading {
  color: #9DAEC2;
  font-weight: 500;
  letter-spacing: 0.3125em;
  text-transform: uppercase;
}

.share-icon-group {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-left: 21px;
}

.share-icon {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.share-icon img {
  width: 100%;
}

/* FEM attribution */

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}