:root {
  box-sizing: border-box;
  font-size: 16px;
  /* 13px == 0.8125rem */
  /* 15px == 0.9375rem */
  /* 18px == 1.125rem */
  --base-font-size: 1.125rem;
  font-family: 'Hanken Grotesk', sans-serif;

  /* color variables */
  --main-bg-color: hsla(220, 100%, 96%, 1);
  --bg-gradient-start: hsl(252, 100%, 67%);
  --bg-gradient-end: hsl(241, 81%, 54%);
  --circle-gradient-start: hsla(256, 72%, 46%, 1);
  --circle-gradient-end: hsla(241, 72%, 46%, 0);
  --bar-light-red: hsl(0, 100%, 67%);
  --bar-orange-yellow: hsl(39, 100%, 56%);
  --bar-green-teal: hsl(166, 100%, 37%);
  --bar-cobalt-blue: hsl(234, 85%, 45%);
  --neutral-white: hsl(0, 0%, 100%);
  --neutral-pale-blue: hsl(221, 100%, 96%);
  --neutral-light-lavender: hsl(241, 100%, 89%);
  --neutral-dark-gray-blue: hsl(224, 30%, 27%);

  /* dimension */
  --mobile-width: 375px;
  --desktop-width: 736px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: var(--main-bg-color);
  /* base font */
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: var(--base-font-size);
  color: var(--neutral-light-lavender);
  font-weight: 500;
  line-height: 1.5625rem;
  /* 25px == 1.5626rem, 20px == 1.25rem */
}

input,
select,
textarea,
button {
  font-family: inherit;
}

button {
  border: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  vertical-align: bottom;
}

main {
  max-width: var(--mobile-width);
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.results {
  border-radius: 0px 0px 32px 32px;
  background: linear-gradient(180deg, #75F 0%, #6943FF 0.01%, #2F2CE9 100%);
  /* background: linear-gradient(var(--bg-gradient-start) 0%, var(--bg-gradient-end) 100%); */
  box-shadow: 0px 30px 60px 0px rgba(61, 108, 236, 0.15);
  padding: 24px 57px 40px 58px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  text-align: center;
  font-size: var(--base-font-size);
  font-weight: 700;
  line-height: 1.4375rem;
}

.scoreboard {
  margin-top: 24px;
  width: 140px;
  height: 140px;
  border-radius: 140px;
  background: linear-gradient(180deg, #4D21C9 0%, rgba(37, 33, 201, 0.00) 100%, rgba(37, 33, 201, 0.00) 100%);
  /* background: linear-gradient(var(--circle-gradient-start) 0%, var(--circle-gradient-end) 100%); */
  display: flex;
  flex-direction: column;
  align-items: center;

}

.scoreboard h2 {
  margin-top: 25px;
  color: #ffffff;
  font-size: 3.5rem;
  font-weight: 800;
  line-height: 4.5rem;
}

.scoreboard p {
  color: var(--neutral-light-lavender);
  font-size: 1rem;
  line-height: 1.3125rem;
  font-weight: 700;
  opacity: 0.51681;
}

.evaluation {
  margin-top: 24px;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.9375rem;
}

.desc {
  margin-top: 8px;
  color: var(--neutral-light-lavender);
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  line-height: 1.3125rem;
}

.summary {
  padding: 0 30px 30px 30px;
  background-color: #ffffff;

}

.bar {
  display: flex;
}

.bar-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* FEM attribution */

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}