:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: hsl(0, 0%, 95%);
  font-family: 'Lexend Deca', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: hsla(0, 0%, 100%, 0.75);
}

h1, p {
  margin: 0;
}

/* card */

.card-container {
  width: 100%;
  margin: 88px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 327px;
  height: 441px;
  padding: 48px;
}

.card:nth-child(1) {
  background-color: hsl(31, 77%, 52%);
  border-radius: 8px 8px 0 0;
}

.card:nth-child(2) {
  background-color: hsl(184, 100%, 22%);
}

.card:last-child {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 0 8px 8px;
}

/* card contents */

.logo {
  width: 64px;
  height: 40px;
}

.logo img {
  width: 100%;
}

.heading {
  margin-top: 35px;
  font-family: 'Big Shoulders Display', cursive;
  font-size: 40px;
  font-weight: 700;
  color: hsl(0, 0%, 95%); /* #f2f2f2 */
  text-transform: uppercase;
}

.desc {
  margin-top: 25px;
  line-height: 25px;
}

.cta {
  margin-top: 25px;
  background-color: hsl(0, 0%, 95%);
  width: 146px;
  height: 48px;
  border-radius: 25px;
  border: 2px solid transparent;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 15px;
  line-height: 25px;
  text-transform: capitalize;
  transition: all .3s ease; /* makes the hover transition softer */
}

.card:nth-child(1) .cta {
  color: hsl(31, 77%, 52%);
}

.card:nth-child(2) .cta {
  color: hsl(184, 100%, 22%);
}

.card:last-child .cta {
  color: hsl(179, 100%, 13%);
}

/* interactive button */

.card > .cta:hover {
  color: hsl(100, 100%, 100%);
  border: 2px solid hsl(100, 100%, 100%);
  cursor: pointer;
}

.card:nth-child(1) > .cta:hover {
  background-color: hsl(31, 77%, 52%);
}

.card:nth-child(2) > .cta:hover {
  background-color: hsl(184, 100%, 22%);
}

.card:last-child > .cta:hover {
  background-color: hsl(179, 100%, 13%);
}

/* desktop design */

@media only screen and (min-width: 920px) {
  .card-container {
    margin: 171px auto;
    flex-direction: row;
    justify-content: center;
  }

  .card {
    width: 307px;
    height: 500px;
    padding: 48px;
  }

  .card:nth-child(1) {
    border-radius: 8px 0 0 8px;
  }

  .card:last-child {
    border-radius: 0 8px 8px 0;
  }

  .cta {
    margin-top: 83px;
  }
}

/* FEM attribution  */

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
