:root {
  box-sizing: border-box;
  font-size: 16px;
  /* 13px == 0.8125rem */
  /* 15px == 0.9375rem */
  /* 18px == 1.125rem */
  --base-font-size: 1rem;
  font-family: 'Karla', sans-serif;
  /* color variables */
  /* primary */
  --cyan: hsl(179, 62%, 43%);
  --light-cyan: hsla(179, 62%, 43%, 0.75);
  --bright-yellow: hsl(71, 73%, 54%);
  /* neutral */
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
  /* dimension */
  --mobile-width: 311px;
  --desktop-width: 635px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: var(--light-gray);
}

input,
select,
textarea,
button {
  font-family: inherit;
}

button {
  border: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
}

img {
  vertical-align: bottom;
}

main {
  max-width: var(--mobile-width);
  margin: 72px auto;
  display: flex;
}

.card {
  width: 100%;
  border-radius: 5px 5px 0 0;
  box-shadow: 0px 15px 30px 0px rgba(0, 81, 171, 0.15);
}

/* the top box */

.intro {
  background: #ffffff;
  padding: 28px 24px 32px 24px;
  border-radius: 5px 5px 0 0;
}

.heading {
  color: var(--cyan);
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: -0.015625rem;
}

.sub-heading {
  color: var(--bright-yellow);
  margin-top: 24px;
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 1.25rem;
  letter-spacing: -0.0116875rem;
}

.desc {
  color: var(--grayish-blue);
  margin-top: 16px;
  font-size: 0.875rem;
  line-height: 1.625rem;
  letter-spacing: -0.0109375rem;
}

/* the middle and the bottom box */

.lower-container {
  display: flex;
  flex-direction: column;
}

/* the middle box */

.plan {
  padding: 24px;
  background-color: var(--cyan);
  color: #ffffff;
}

.section-heading {
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -0.0140625rem;
  line-height: 1.3125rem;
}

.price {
  margin-top: 18px;
  display: flex;
}

.price strong {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -0.025rem;
  color: hsla(100, 100%, 100%, 1);
}

.price span {
  font-size: 1rem;
  line-height: 1.625rem;
  letter-spacing: -0.0125rem;
  color: hsla(100, 100%, 100%, .5);
  font-weight: 500;
  margin-top: 6px;
  margin-left: 11px;
}

.plan-desc {
  margin-top: 4px;
  font-size: 1rem;
  line-height: 1.625rem;
  letter-spacing: -0.0125rem;
}

.cta {
  margin-top: 26px;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 14px;
  text-align: center;
  border-radius: 5px;
  background: var(--bright-yellow);
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.10);
  color: #ffffff;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: -0.0125rem;
}

/* the bottom box */

.offer {
  background-color: var(--light-cyan);
  padding: 24px 49px 24px 24px;
  color: #ffffff;
}

.offer-list {
  list-style: none;
  margin-top: 18px;
}

.offer-list li {
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: -0.0109375rem;
  color: hsla(100, 100%, 100%, 0.75);
}

/* desktop design */

@media only screen and (min-width: 637px) {
  main {
    max-width: var(--desktop-width);
    margin: 0 auto;
    min-height: 100vh;
    align-items: center;
  }

  .card {
    border-radius: 8px;
  }

  .intro {
    padding: 40px;
  }

  .heading {
    font-size: 1.5rem;
    letter-spacing: -0.01875rem;
  }

  .sub-heading {
    font-size: 1.125rem;
    letter-spacing: -0.0140625rem;
  }

  .desc {
    margin-top: 11px;
    font-size: 1rem;
    line-height: 26px;
    letter-spacing: -0.0125rem;
  }

  .lower-container {
    flex-direction: row;
  }

  .plan,
  .offer {
    flex: 1 1 50%;
    padding: 40px;
  }

  .plan {
    border-bottom-left-radius: 8px;
  }

  .offer {
    border-bottom-right-radius: 8px;
  }
}


/* FEM attribution */

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}