:root {
  box-sizing: border-box;
  font-size: 16px;
  /* 13px == 0.8125rem */
  /* 15px == 0.9375rem */
  /* 18px == 1.125rem */
  --base-font-size: 1rem;
  font-family: 'Karla', sans-serif;
  /* color variables */
  /* primary */
  --cyan: hsl(179, 62%, 43%);
  --bright-yellow: hsl(71, 73%, 54%);
  /* neutral */
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
  /* dimension */
  --mobile-width: 311px;
  --desktop-width: 635px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: var(--light-gray);
}

input,
select,
textarea,
button {
  font-family: inherit;
}

button {
  border: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  vertical-align: bottom;
}

main {
  max-width: var(--mobile-width);
  margin: 72px auto;
  display: flex;
  align-items: center;
}

.card {
  width: 100%;

  border-radius: 5px 5px 0 0;
  box-shadow: 0px 15px 30px 0px rgba(0, 81, 171, 0.15);

}

.intro {
  background: #ffffff;
  padding: 28px 24px 32px 24px;
}

.heading {
  color: var(--cyan);
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: -0.015625rem;
}

.sub-heading {
  color: var(--bright-yellow);
  margin-top: 24px;
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 1.25rem;
  letter-spacing: -0.0116875rem;

}

.desc {
  color: var(--grayish-blue);
  margin-top: 16px;
  font-size: 0.875rem;
  line-height: 1.625rem;
  letter-spacing: -0.0109375rem;

}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}