:root {
  box-sizing: border-box;
  font-size: 16px;
  /* 13px == 0.8125rem */
  /* 15px == 0.9375rem */
  /* 18px == 1.125rem */
  --base-font-size: 1rem;
  --open-sans-font: 'Open Sans', sans-serif;
  --poppins-font: 'Poppins', sans-serif;
  /* color variables */
  /* primary */
  --main-bg-violet: hsl(257, 40%, 49%);
  --active-soft-magenta: hsl(300, 69%, 71%);
  /* neutral */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: var(--main-bg-violet);
  background-image: url("./images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-size: 100%;
}

input,
select,
textarea,
button {
  font-family: inherit;
}

button {
  border: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
}

img {
  vertical-align: bottom;
}

/* header */

.header {
  padding-top: 38px;
  padding-left: 40px;
}

.logo {
  width: 120px;
  height: 19px;
}

.logo img {
  width: 100%;
}

/* container */

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}

/* hero image */

.hero {
  width: 100%;
  padding: 0 40px;
  text-align: center;
}

.hero img {
  width: 100%;
}

/* text contents */

.contents {
  margin-top: 60px;
}

.heading {
  margin: 0 48px;
  color: #ffffff;
  text-align: center;
  font-size: 1.5rem;
  font-family: var(--poppins-font);
  font-weight: 600;
  line-height: 2.25rem;
}

.desc {
  margin: 16px 36px 0 35px;

  color: #ffffff;
  text-align: center;
  font-size: 1rem;
  font-family: var(--open-sans-font);
  line-height: 1.5rem;
}

.cta {
  margin-top: 24px;
  text-align: center;
}

.cta button {
  width: 200px;
  padding-top: 11.29px;
  padding-bottom: 10.71px;

  border-radius: 20px;
  background: #ffffff;
  box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.27);

  color: var(--main-bg-violet);
  font-size: .75rem;
  font-family: var(--poppins-font);
  line-height: 1.125rem;
}

.cta button:hover {
  background-color: var(--active-soft-magenta);
}

/* social icons */

.social-icon-group {
  display: flex;
  margin-top: 64px;
  justify-content: center;
  gap: 10.86px;

}

.social-icon {
  width: 27.14px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.798px solid #ffffff;
  border-radius: 28px;
}

.social-icon svg {
  width: 60%;
  fill: #fff;
}

.social-icon:hover {
  border-color: var(--active-soft-magenta);
}

.social-icon:hover svg {
  fill: var(--active-soft-magenta);
}


@media only screen and (min-width: 460px) {
  .hero img {
    width: 380px;
  }

  .desc {
    margin-left: 12%;
    margin-right: 12%;
  }
}

@media only screen and (min-width: 1200px) {

  body {
    background-image: url("./images/bg-desktop.svg");
    background-size: 90%;
    background-position: 10px 10px;
  }

  .header {
    padding-top: 64px;
    padding-left: 80px;
  }

  .logo {
    width: 200px;
    height: 32px;
  }

  .container {
    flex-direction: row;
    margin-top: 104px;
  }

  .hero {
    flex: 1 1 325px;
    padding: 0 29px 0 80px;
  }

  .hero img {
    width: 100%;
    max-width: 696px;
  }

  .contents {
    flex: 0 0 635px;
    padding-left: 30px;
    margin-top: 32px;
  }

  .heading {
    margin-left: 0;
    margin-right: 118px;
    text-align: left;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3.75rem;
  }

  .desc {
    margin-left: 0;
    margin-top: 24px;
    margin-right: 85px;
    text-align: left;
    font-size: 1.125rem;
    line-height: 1.6875rem;
  }

  .cta {
    text-align: left;
  }

  .cta button {
    padding-top: 13px;
    padding-bottom: 16px;
    border-radius: 28px;
    font-size: 1.125rem;
    line-height: 1.6875rem;
  }

  .social-icon-group {
    margin-top: 27px;
    justify-content: end;
    gap: 16px;
    padding-right: 80px;
  }

  .social-icon {
    width: 40px;
    height: 40px;
    border-width: 1.176px;
  }
}


/* FEM attribution */

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}