:root {
  box-sizing: border-box;
  font-size: 16px;
  /* 13px == 0.8125rem */
  /* 15px == 0.9375rem */
  /* 18px == 1.125rem */
  --base-font-size: 1rem;
  --open-sans-font: 'Open Sans', sans-serif;
  --poppins-font: 'Poppins', sans-serif;
  /* color variables */
  /* primary */
  --main-bg-violet: hsl(257, 40%, 49%);
  --active-soft-magenta: hsl(300, 69%, 71%);
  /* neutral */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: var(--main-bg-violet);
  background-image: url("./images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-size: 100%;
}

input,
select,
textarea,
button {
  font-family: inherit;
}

button {
  border: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
}

img {
  vertical-align: bottom;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* header */

.header {
  padding-left: 40px;
}

.logo {
  margin-top: 38.2px;
  width: 120px;
  height: 19px;
  
}

.logo img {
  width: 100%;
}

/* hero image */

.hero {
  width: 100%;
  padding: 0 40px;
  margin-top: 70px;
}

.hero img {
  width: 100%;
}

/* text contents */

.heading {
  margin: 60px 48px 0 47px;

  color: #ffffff;
  text-align: center;
  font-size: 1.5rem;
  font-family: var(--poppins-font);
  font-weight: 600;
  line-height: 2.25rem;

}

.desc {
  margin: 16px 36px 0 35px;

  color: #ffffff;
  text-align: center;
  font-size: 1rem;
  font-family: var(--open-sans-font);
  line-height: 1.5rem;
}

.cta {
  margin-top: 24px;
  text-align: center;
}

.cta button {
  width: 200px;
  padding-top: 11.29px;
  padding-bottom: 10.71px;

  border-radius: 20px;
  background: #ffffff;
  box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.27);

  color: var(--main-bg-violet);
  font-size: .75rem;
  font-family: var(--poppins-font);
  line-height: 1.125rem;

}

/* social icons */

.social-icon-group {
  display: flex;
  margin-top: 64px;
  justify-content: center;
  gap: 10.86px;

}

.social-icon {
  width: 27.14px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ffffff;
  border-radius: 28px;
}

.social-icon svg {
  width: 60%;
  fill: #fff;
}



@media only screen and (min-width: 451px) {
  .social-icon-group {
    margin-top: 48px;
  }
}

@media only screen and (min-width: 481px) {
  .hero {
    margin-top: 50px;
  }
  
  .heading {
    margin-top: 40px;
  }

  .social-icon-group {
    margin-top: 36px;
  }
}

@media only screen and (min-width: 630px) {
  .hero {
    margin-top: 40px;
  }
  
  .heading {
    margin-top: 30px;
  }

  .social-icon-group {
    margin-top: 24px;
  }
}




/* FEM attribution */

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}