:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  background-color: hsl(185, 75%, 39%);
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #2e3349;
  font-weight: 700;
}

p {
  margin: 0;
}

/* background circles */

.bg-circle>div {
  position: absolute;
  z-index: -10;
}

.bg-circle>div>img {
  width: 978px;
  height: 976px;
}

.top-circle {
  top: -509px;
  left: -285px;
}

.bottom-circle {
  top: 376px;
  left: 692px;
}

/* card */

.card-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  width: 350px;
  border-radius: 15px;
  background-color: #ffffff;
}

@media only screen and (max-width: 400px) {
  .card {
    width: 326px;
  }

  .bg-circle>div>img {
    width: 622px;
    height: 621px;
  }

  .top-circle {
    top: -355px;
    left: -410px;
  }

  .bottom-circle {
    top: 357px;
    left: 165px;
  }
}

.profile-header {
  background-image: url(images/bg-pattern-card.svg);
  border-radius: 15px 15px 0 0;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: end; /* puts the profile image at the bottom of the bubble image */
  align-items: center;
}

/* acts like a circle frame for the profile image */
.profile-image {
  display: flex; /* puts the profile image at the center of this frame */
  justify-content: center;
  align-items: center;
  margin-bottom: -48px; /* moves the profile image down */
  width: 104px;
  height: 104px; /* create white margins beyond the profile image */
  background-color: #ffffff;
  border-radius: 100px;
}

.profile-image img {
  width: 96px;
  height: 96px;
  border-radius: 100px;
}

.main {
  display: flex;
  flex-direction: column;
}

.personal-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 72px;
}

/* Victor Crest 26 */
.headline {
  display: flex;
  line-height: 23px;
  gap: 10px;
}

.age {
  color: #6b7082;
  font-weight: 400;
}

.city {
  margin-top: 8px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #6b7082;
}

.stat-group {
  display: flex;
  margin-top: 28px;
  border-top: 1px solid #e8e9ec;
}

.stat {
  padding: 24px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.desc {
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  color: #6b7082;
  margin-top: 9px;
  margin-bottom: 3px;
  letter-spacing: 1.5px;
}

/* attribution for FEM */

.attribution {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 11px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}